.contenedor-publicaciones {
  width: 500px;
}
#logout-icon,
#premium-icon,
#notifications-icon,
#message-icon,
#resources-icon,
#microphone-icon,
#users-icon,
#explorer-icon,
#house-icon,
#page-name {
  color: #00bf00;
}
#user-button,
#default-search {
  border: 2px solid #00bf00;
}
#burger-button,
#create-publications,
#create-button-publications,
#create-button {
  background-color: #00bf00;
}
